#container {
  font-family: "Poppins", sans-serif;
  width: 50vw;
  margin: auto;
  background-color: #f2f6fb;
  color: rgba(148, 188, 247, 255);
  text-align: center;
  padding: 15px;
  border-radius: 10px;
  margin-top: 40px;
}

#todo-list {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#todo-list li {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: rgba(148, 188, 247, 255); */
  background-color: white;
  /* color: white; */
  color: #4f5053;
  padding: 0 10px;
  border: 1.5px solid white;
  border-radius: 20px;
  margin: 3px;
  width: 30vw;
}

input {
  border-radius: 20px;
  /* border: 1px solid #4f5053; */
  border: none;
  height: 60px;
  width: 30vw;
}

.delete-button {
  background: none;
  color: rgba(148, 188, 247, 255);
  border: 2px solid rgba(148, 188, 247, 255);
  border-radius: 50%;
  height: 25px;
  width: 25px;
  font-size: 12px;
  cursor: pointer;
}

.subtitle {
  color: #4f5053;
  font-size: small;
}

/* .h1-title {
  display: flex;
  background-color: rgba(148, 188, 247, 255);
  color: white;
  border-radius: 30px;
  width: fit-content;
  height: 80px;
  align-items: center;
} */

#add-task {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  color: white;
  background-color: rgba(148, 188, 247, 255);
  border: none;
  font-size: 20px;
}

.line-through {
  text-decoration: line-through;
}

.image {
  display: flex;
  justify-content: center;
  align-content: center;
  z-index: -1;
}
